// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * Device Tree Source for TDA54 SoC Family MCU/Wakeup Domain peripherals
 *
 * Copyright (C) 2026 Texas Instruments Incorporated - https://www.ti.com/
 */

&cbass_mcu_wakeup {
	scm_conf: syscon@5e800000 {
		compatible = "ti,tda54-scm-conf", "syscon";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0 0x5e800000 0x0 0x1ffff>;
		interrupts = <GIC_SPI 680 IRQ_TYPE_LEVEL_HIGH>;
		ti,proxy-id = <1>;
		ti,lock-offset = <0x3008>;
		ti,fault-offset= <0x3024>;
		ti,claim-offset = <0x3100>;
		ti,claim-status-offset = <0x3300>;
		bootph-all;
		status="okay";
	};
};

